/* link dos demais css , carrega mais rapido e o index fica mais limpa */
@import url("/styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade: #154555;
}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: wheat;
}