.cabacalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

/* Controle do menu  */
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* detecta um evento com um combinador CSS */
/* ele usa uma condição para aplicar o elemento css */
.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

/* Ocultar o checkbox */
.container__botao {
    display: none;
}

/* Animar coração do like: */
/* https://cursos.alura.com.br/extra/alura-mais/animacao-de-coracao-um-projeto-em-html-css-c1360 */
#coracao {
    display: none;
}

.coracaoFavorito {
    stroke: #11153b;
}

#coracao:checked+label>svg {
    animation: preencher;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes preencher {
    0% {
        fill: transparent;
    }

    100% {
        fill: #d75a4a;
        stroke: #d75a4a;
    }
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto{
    display: none;
}

/* media query tablet 1024 -------------------------------- */
/* Aplicar um determinaod estilo conforme o tamanho da tela */
@media screen and (min-width:1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente {
        display: none;
    }

    .cabacalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }
}

/* media query desktop 1728 -------------------------------- */
@media screen and (min-width:1728px) {
    .container__texto{
        display: block;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

}